:root { 
--gray_50_01:#f7f9fc; 
--deep_orange_50_01:#ffece5; 
--gray_50_02:#f9f9fb; 
--gray_50_03:#f8f8f8; 
--blue_A400:#1b84ff; 
--red_800:#d3251f; 
--green_900:#036b26; 
--green_A700:#17c653; 
--yellow_800:#f3a118; 
--indigo_50_01:#ddddff; 
--indigo_50_02:#e4e7f0; 
--blue_gray_700:#475267; 
--blue_gray_900_01:#1d2639; 
--pink_500:#f8285a; 
--deep_orange_500:#f4652f; 
--blue_gray_900:#15294b; 
--deep_purple_A200:#7239ea; 
--blue_gray_100:#d0d4dd; 
--orange_A200:#feb63d; 
--blue_gray_300:#98a1b2; 
--blue_gray_500:#667185; 
--blue_50:#e3effc; 
--lime_50:#fef6e7; 
--white_A700:#ffffff; 
--indigo_800:#234092; 
--blue_gray_700_01:#42526d; 
--deep_orange_50:#fbeae9; 
--blue_gray_50:#ebedf0; 
--indigo_800_0f:#2340920f; 
--blue_gray_100_01:#d9d9d9; 
--blue_gray_100_02:#cbcfd5; 
--indigo_A200:#5755ff; 
--green_800:#0f973d; 
--gray_50:#fafbfb; 
--black_900_1e:#0000001e; 
--black_900_23:#00000023; 
--black_900:#000000; 
--blue_gray_800:#344054; 
--black_900_28:#00000028; 
--deep_purple_A700:#3300ff; 
--blue_gray_50_01:#eff1f4; 
--blue_gray_400:#7a8699; 
--blue_gray_600:#505f79; 
--indigo_50:#e4e7ec; 
--gray_900:#101828; 
--green_50:#e7f6ec; 
--gray_300:#dfe2e6; 
--blue_gray_800_01:#243757; 
--blue_gray_300_01:#98a1b0; 
--gray_100:#f5f6f7; 
--orange_50:#fff0d8; 
}